.nav {
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  gap: inherit;
  height: 100%;
  width: 100%;
}

.nav__item,
.nav__item a {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.nav__item a {
  width: 100%;
  height: 100%;
}
