.button {
  text-transform: uppercase;
}

.button__primary {
  background-color: var(--main-color);
  color: #fff;
}

.button__secondary {
  background-color: #fff;
  color: #273039;
}

.arrowButton {
  background-color: var(--main-color);
  color: #fff;
}

.arrowButton:disabled {
  background-color: #d4e2e7;
  color: #818f9b;
  opacity: 1;
}

.leftArrowButton svg {
  transform: rotateZ(90deg);
}
.rightArrowButton svg {
  transform: rotateZ(-90deg);
}

@media (hover: hover) {
  .button__primary:hover {
    box-shadow: 0px -5px 7px 0px #ffffff33 inset;
  }
  .button__secondary:hover {
    opacity: 0.9;
  }
}
