.productDetail {
  display: grid;
  grid-template-columns: 676px auto 228px;
  grid-template-rows: auto 562px auto auto auto;
  grid-template-areas:
    "title title title"
    "images control plugin"
    "description characteristics characteristics"
    "description docs docs"
    "description . .";
  column-gap: 32px;
  row-gap: 56px;
}

.productDetail__title {
  grid-area: title;
}

.productDetail__images {
  grid-area: images;
}

.productDetail__control {
  grid-area: control;
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.control__result {
  display: flex;
  justify-content: space-between;
}

.productDetail__pricelist {
  flex-grow: 1;
  overflow-y: hidden;
}

.productDetail__characteristics {
  grid-area: characteristics;
}

.productDetail__description {
  grid-area: description;
}

.productDetail__docs {
  grid-area: docs;
}

.productDetail__action {
  width: 168px;
  height: 48px;
  align-self: end;
}

.productDetail__plugin {
  grid-area: plugin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  font-size: 24px;
  color: #121212;
}

/* images */
.images {
  display: flex;
  gap: 8px;
}

.images__current {
  width: 562px;
}

.current__image {
  position: relative;
  height: 562px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.current__popup {
  width: 90vw;
  height: 90vh;
  position: relative;
}

.images__all {
  width: 106px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 562px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.images__all > div > div > div > div > div {
  display: flex;
}

.all__image {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  opacity: 0.6;
  cursor: pointer;
}

.all__image_active {
  opacity: 1;
  cursor: default;
}

/* pricelist */
.productDetail__pricelist {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.pricelist {
  overflow-y: auto;
  scrollbar-width: none;
}

.priceItem {
  border-bottom: 1px solid #f6f6f6;
}
.priceItem:last-child {
  border-bottom: none;
}
@media (hover: hover) {
  .priceItem:hover {
    background-color: #f6f6f6;
  }
}

.priceItem_active {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.priceItem_active button {
  background-color: var(--main-color);
  color: #fff;
  opacity: 0.8;
}
.priceItem_loading {
  opacity: 0.5;
}

.priceItem button {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
  padding: 0 8px;
}

.priceItem svg {
  width: auto;
  height: 20px;
  color: var(--main-color);
}

.priceItem_active button svg {
  color: #fff;
}

.priceItem__name {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 8px;
  height: 100%;
  font-size: 20px;
  line-height: 24px;
}

.priceItem__price {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
.priceItem__price > * {
  line-height: 24px;
}

.priceItem__discount {
  color: var(--main-color);
}

.priceItem__sum {
  font-size: 20px;
  font-weight: 500;
}

/* characteristics */
.characteristics {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.characteristics__title {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 8px;
}

.characteristics__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.characteristics__item {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.characteristics__item:after {
  content: "";
  flex-grow: 1;
  order: 2;
  border-bottom: 1px dotted #d4e2e7;
}

.characteristics__name {
  font-weight: 300;
  font-size: 14px;
  color: #7b8990;
  order: 1;
}

.characteristics__value {
  font-weight: 400;
  font-size: 16px;
  color: #1b1e21;
  order: 3;
}

.characteristics__stock {
  color: #40ac65;
}

/* description docs */
.description,
.docs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.description__title,
.docs__title {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 8px;
}

.description__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #596066;
}

.docs__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.docs__item {
  display: flex;
  gap: 8px;
  font-weight: 600;
  font-size: 24px;
  color: #fd9c2d;
}

.docs__item span {
  color: #7b8991;
  /* width: ; */
}

/* price */
.productDetail__price {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "title title"
    "result full";
  row-gap: 8px;
  column-gap: 16px;
  font-size: 18px;
  align-items: baseline;
}

.price__title {
  grid-area: title;
  font-weight: 400;
  font-size: 16px;
  color: #7b8990;
  align-self: start;
}

.price__result {
  grid-area: result;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: #1b1e21;
}

.price__full {
  grid-area: full;
  font-weight: 600;
  font-size: 18px;

  line-height: 18px;
  color: #7b8990;
}

/* plugin */
.plugin {
  background-color: #e8f1f6;
  padding: 0 0 16px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 228px;
}

.plugin__image {
  position: relative;
  border-bottom: 1px solid rgba(123, 137, 144, 0.16);
  height: 90px;
  width: 100%;
  padding-right: 16px;
}

.plugin__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #1b1e21;
  padding: 0 12px;
}

.plugin__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #7b8990;
  padding: 0 12px;
  text-align: center;
}

.plugin__action {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}

@media only screen and (max-width: 1560px) {
  .productDetail {
    grid-template-columns: 676px auto;
    grid-template-rows: auto 562px auto auto auto auto;
    grid-template-areas:
      "title title"
      "images control"
      "description characteristics"
      "description docs"
      "plugin docs";
  }

  .productDetail__plugin {
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
  }
}

@media only screen and (max-width: 1260px) {
  .productDetail {
    grid-template-columns: 562px auto;
    grid-template-rows: auto 448px auto auto auto auto;
  }

  .images__current {
    width: 448px;
  }

  .current__image {
    height: 448px;
  }

  .images__all {
    height: 448px;
  }
}

@media only screen and (max-width: 1120px) {
  .productDetail {
    grid-template-columns: 448px auto;
    grid-template-areas:
      "title title"
      "images control"
      "characteristics characteristics"
      "docs docs"
      "description description"
      "plugin plugin";
  }

  .images__all {
    display: none;
  }
}

@media only screen and (max-width: 1020px) {
  .productDetail {
    grid-template-columns: 320px auto;
    grid-template-rows: auto 320px auto auto auto auto;
  }

  .images__current {
    width: 320px;
  }

  .current__image {
    height: 320px;
  }
}

@media only screen and (max-width: 900px) {
  .productDetail {
    row-gap: 24px;
  }

  .title {
    font-size: 20px;
  }

  .current__popup {
    width: 100vw;
  }
}

@media only screen and (max-width: 860px) {
  .productDetail {
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr auto auto auto auto;
    grid-template-areas:
      "title title"
      "images images"
      "control control"
      "characteristics characteristics"
      "plugin plugin"
      "description description"
      "docs docs";
    min-width: 0;
  }
  .productDetail__images {
    min-width: 0;
  }

  .images__current {
    width: 100%;
  }

  .current__image {
    height: auto;
  }
}

@media only screen and (max-width: 520px) {
  .price__result {
    font-size: 18px;
  }
  .price__full {
    font-size: 14px;
  }

  .plugin__image {
    height: 64px;
  }

  .plugin__title {
    font-size: 11px;
    line-height: 16px;
    padding: 0;
    padding-right: 8px;
  }

  .plugin__text {
    font-size: 11px;
    line-height: 16px;
    padding: 0;
    padding-right: 8px;
  }

  .plugin__action {
    font-size: 11px;
  }
}
