.cartLink {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cartLink:after {
  content: attr(data-value);
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  padding: 4px;
  font-size: 12px;
  color: #fff;
  background: var(--main-color);
  /* box-shadow: 0px -3px 6px 0px #ffffff1f inset; */
  border-radius: 50%;
  position: absolute;
  transform: translate(20px, -15px);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (hover: hover) {
  .cartLink:hover svg {
    color: var(--main-color);
  }
}

.cartLink__loading {
  opacity: 0.3;
  cursor: default;
}

.cartLink > svg {
  width: 30px;
  height: 31px;
  color: inherit;
}
